<div>
    <div>
        <button routerLink="add">Add New Post</button>
    </div>
    <h2 style="text-decoration: underline;">All Posts</h2>
    <table>
        <tr>
            <th>S.No</th>
            <th>Id</th>
            <th>Post Name</th>
            <th>Posted By</th>
            <th>Actions</th>
        </tr>
        <tr *ngFor="let post of postsData$ | async; let index = index">
            <td>{{index+1}}</td>
            <td>{{post.key}}</td>
            <td>{{post.postName}}</td>
            <td>{{post.postedBy}}</td>
            <td>
                <button type="button" [routerLink]="['edit', post.key]"> Edit </button> |
                <button type="button" (click)="deletePost(post.key)"> Delete </button> |
                <button type="button" [routerLink]="['details',post.key]"> Details </button>
            </td>
        </tr>
    </table>
</div>
<hr>
<div>
    <router-outlet></router-outlet>
</div>